.App {

}

.App-loading {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.5;
  background: rgba(10, 10, 10, .1);

  .image {
    position: absolute;
    top: 25%;
    left: 40%;
  }
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-home {
  position: relative;
}
